/* Hoja de estilos */

:root {
  font-size: 16px;
  --white30: white;
  --white21: #424242;
  --white20: #A5A3A5;
  --white10: #616161;
}

body {
  color: var(--white30);
  /* font-family: system-ui; */
  /* font-family: charter; */
  font-family: 'Nunito', sans-serif;
  /* Logical */
  background-color: #251F24;
}

header {
  color: var(--white30);
  font-size: 14px;
}

header li {
  color: var(--white20);
}

header a {
  /* --white10: red; */
  color: var(--white20);
  text-decoration: none;
}

  header a:hover {
    color: var(--white30);
  }

nav details summary {
  font-weight: bold;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 60px;
  font-size: 3.75em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 24px;
  font-size: 1.5em;
}

a {
  color: var(--white30);
}

pre {
  background-color: #3A3539;
}

p {
  color: var(--white20);
}

.hero {
  width: 100%;
  height: 350px;
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

/* Pseudoelementos */
.section-content h3::before {
  content: counter(titleList, decimal)'. ';
}

.section-content h3::after {
  content: '';
  display: inline-block;
  width: 32px;
  height: 4px;
  background: var(--white21);
}