/* Hoja de estilos */

:root {
  font-size: 16px;
  --white30: white;
  --white21: #424242;
  --white20: #A5A3A5;
  --white10: #616161;
}

body {
  color: var(--white30);
  /* font-family: system-ui; */
  /* font-family: charter; */
  font-family: 'Nunito', sans-serif;
  /* Logical */
  background-color: #251F24;
  margin: 0;
}

.header {
  position: sticky;
  inset-block-start: -45px;
}

.header-content {
  position: relative;
  inset-block-start: 65px;
}

header {
  color: var(--white30);
  font-size: 14px;
  position: absolute;
  /* top */
  inset-block-start: 0;
  /* left */
  inset-inline-start: -208px;
  /* bottom */
  inset-inline-end: 0;
  /* right */
  insret-inline-end: 0;

  /* with max */
  inline-size: 188px;
}

header li {
  color: var(--white20);
  margin-block-end: 16px;
}

header a {
  /* --white10: red; */
  color: var(--white20);
  text-decoration: none;
}

  header a:hover {
    color: var(--white30);
  }

nav details summary {
  font-weight: bold;
}

h1 {
  /* font-size: 3.75em; */
  font-size: 60px;
  margin-block-start: 64px;
  margin-block-end: 16px;
}

h2 {
  font-size: 2em;
  margin-block: 40px;
}

h3 {
  font-size: 1.5em;
  /* font-size: 24px; */
  font-weight: 600;
  margin-block: 16px;
}

a {
  color: var(--white30);
}

pre {
  background-color: #3A3539;
  /* Logico */
  padding: 40px;
  overflow: auto;
  border-radius: 8px;
}

p {
  color: var(--white20);
}

hr {
  margin-block: 40px;
  border-color: rgba(97, 97, 97, 0.2);
}

.hero {
  width: 100%;
  height: 350px;
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);;
}

.section-content img {
  margin-block-start: 40px;
  display: block;
  /* Logico */
  /* max-width: 100%; */
  max-inline-size: 100%;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

/* Pseudoelementos */
.section-content h3::before {
  content: counter(titleList, decimal)'. ';
}

/* .section-content h3::after {
  content: '';
  display: inline-block;
  width: 32px;
  height: 4px;
  background: var(--white21);
} */

blockquote {
  margin-block-start: 80px;
  margin-block-end: 63px;
  background-color: #3A3539;
  line-height: 32px;
  font-size: 24px;
  border-radius: 8px;
  padding-inline: 24px;
  padding-block: 24px;
}

blockquote p {
  color: var(--white30);
}

/* Logicos */

.main {

}

.wrapper {
  margin: 0 auto;
  /* inline-size: 902px; */
  max-inline-size: 902px;
  /* block-size: 100px;
  overflow: hidden; */
}

.main-content {
  padding-inline: 16px;
}

.main hr {
  display: none;
}


/* slider */
.slider {

}

.slider-container {
  /* block-size: 100px; */
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video {
  margin: 0;
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  text-align: center;
  margin-block-start: 10px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background: white;
  border-radius: 50%;
}

.form input {
  inline-size: 100%;
  box-sizing: border-box;
  border: 1px solid var(--white30);
  background-color: #251F24;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  color: var(--white30);
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
}


.form input[type="submit"] {
  background-color: #157EFB;
  border: none;
}

.form input::-webkit-input-placeholder {
  color: var(--white20)
}


/* Media Querys */
