/* Hoja de estilos */

:root {
  font-size: 16px;
  --gray30: #212121;
  --gray21: #424242;
  --gray20: #212429;
  --gray10: #616161;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--gray30);
  /* font-family: system-ui; */
  /* font-family: charter; */
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  color: var(--gray10);
  font-size: 14px;
  /* top rigth bottom left z-index */
  position: absolute;
  top: 64px;
  left: -232px;
  width: 188px;
  z-index: 1;
}

  header a {
    /* --gray10: red; */
    color: var(--gray10);
    text-decoration: none;
  }

  header a:hover {
    color: var(--gray30);
  }

  header li {
    margin-bottom: 16px;
  }

nav details summary {
  font-weight: bold;
  line-height: 24px;
}

h1 {
  font-size: 60px;
  font-size: 3.75em;
  margin-top: 64px;
  margin-bottom: 16px;
  font-weight: normal;
  /* width: 400px;
  height: 400px;
  padding: 40px; */
}

/* h1 ~ p {
  margin-bottom: 64px;
} */

hr {
  margin: 64px 0;
}

h2 {
  font-size: 2em;
  margin: 64px 0 40px;
  font-weight: normal;
}

h3 {
  /*font-size: 24px;*/
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  /* Box sizing */
  /* width: 200px;
  padding: 20px;
  border: 1px solid red;
  box-sizing: border-box; */
  position: relative;
}

a {
  color: var(--gray30);
}

pre {
  background-color: #FEC62E;
  padding: 40px;
  font-family: 'Roboto';
  line-height: 24px;
}

blockquote {
  margin: 32px 0;
  padding-left: 16px;
  font-size: 24px;
  border-left: 4px solid var(--gray30);
  line-height: 24px;
}

blockquote span {
  color: var(--gray10);
}

blockquote span::before {
  content: '-';
}

.hero {
  width: 100%;
  height: 350px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../images/patron-1.png');
}

.section-content {
  margin-top: 64px;
}

.section-content:first-of-type {
  margin: 0;
}

.section-content ol li {
  line-height: 24px;
}

.section-content ul li {
  margin-bottom: 16px;
}

.section-content + hr {
  display: none;
}

.section-content img {
  margin-top: 40px;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 8px;
}

/* Pseudoelementos */
.section-content h3::before {
  content: counter(titleList, decimal) '. ';
}

.section-content h3::after {
  content: '';
  width: 80px;
  height: 4px;
  margin-top: 4px;
  background: var(--gray21);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}


/* Componente Base, podria pintante el fondo */
.main {
}

/* Wrapper, tiene la responsabilidad de poner un ancho y de centar, delimita las fronteras de tu contenido. */

.wrapper {
  width: 902px;
  margin: 0 auto;
}

/* Contenido,  */
.main-content {
  /* padding: 20px; */
}

.header-content {
  position: relative;
}


.header {
  position: sticky;
  top: 0;
}

/* Debug */
.debug {
  /* box-shadow: 0 0 0 1px red; */
  /* border: 1px solid red; */
  outline: 1px solid red !important;
}